@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.tophead {
  display: flex;
  margin-top: 20px;
  width: 100%;
  justify-content: space-between;
}
header {
  background-color: #0000cb;

  display: flex;
  flex-direction: column;
  align-items: center;
}
header ul {
  list-style: none;
  display: flex;
  margin-right: 200px;
}
header a {
  margin: 10px;
  color: white;
  text-decoration: none;
}
.tophead img {
  width: 40px;
  height: fit-content;
  margin-left: 200px;
  box-shadow: 0.5px 0.5px 5px 1px white;
  border-radius: 5px;
}
header #wiki {
  margin-top: 50px;
  width: 60vw;
}

.searchbar {
  margin: auto;
  margin-top: 50px;
  display: flex;
  align-items: center;
  width: 40vw;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 25px;
  padding: 5px;
}

.searchbar input[type="text"] {
  flex: 1;
  border: none;
  padding: 8px;
  font-size: 16px;
  outline: none;
  border-radius: 25px;
}

.filterbutton {
  background-color: #0000cb;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 10px;
  margin-left: 8px;
  cursor: pointer;
  width: 18%;
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 2px #0000cb;
}

.filterbutton:hover {
  background-color: #0069d9;
}

.searchbar i {
  margin-left: 8px;
  font-size: 16px;
  color: #ccc;
}
.categories {
  margin-bottom: 100px;
}
.categories ul {
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 0px;
}

.categories a {
  justify-content: space-between;
  background-color: #c9c7c7;
  color: #fff;
  font-size: 18px;
  border-radius: 15px;
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
}
.categories a:hover {
  color: #0000cb;
  font-size: 20px;
  padding: 12px;
  transition-duration: 0.3s;
}

.slogan  {
  margin-top: -70px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
color: white;
}
.slogan p {
  margin: auto;
  padding-bottom:5px ;
}

.leftop {
  display: flex;
  justify-content: space-between;
  margin-bottom: auto;
}
.language-dropdown {
  margin-left: 30px;
  display: flex;
}
.language-dropdown select {
  background-color: transparent;
  border: none;
  color: white;

  cursor: pointer;
  outline: none;
}
.language-dropdown option {
  background-color: #0000cb;
}

.first {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 65%;
    position: relative;

}
.design {
  position: relative;
  background-color: #ffff;
  border-radius: 30px;
  box-shadow: 0px 1px 4px 0.1px;
  width: 300px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  margin-top: -20px;
  cursor: pointer;
  background-image: url("../assets/goden.png");
  background-size: 100vh;
  background-repeat: no-repeat;
}

.featured {
  position: relative;
  background-image: url("../assets/goden.png");
  background-size: 40vw;
  background-repeat: no-repeat;
  border-radius: 35px;
  box-shadow: 0px 1px 4px 0.1px;
  width: 600px;
  height: 400px;
  margin-left: -20px;
  margin-right: auto;
  margin-top: -20px;
  cursor: pointer;
}

.outer button {
  background-color: #c9c7c7;
  border: none;
  border-radius: 20px;
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  margin: 20px;
  transition: 0.3s;
}

.outer button:hover {
  padding-right: 30px;
  background-color: #0000cb;
}

.featured button {
  background-color: #0000cb;
  position: relative;
  padding-left: 30px;
  transition: padding 0.3s; 
  cursor: pointer;
}



.featured i.fa-circle {
  position: absolute;
  top: 40%;
  left: 10px;
  font-size: 10px;
  color: red;
}

.outer button {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.short #littlebox {
  margin-top: auto;
  background-color: #ffff;
  border-radius: 35px;
  box-shadow: 0px 1px 4px 0.1px;
  width: 220px;
  height: 300px;
  position: relative;
  cursor: pointer;
  background-image: url("../assets/goden.png");
  background-size: 30vw;
  background-repeat: no-repeat;
}
.sports {
  margin-left: 0;

}
.short {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
  width: 65%;
  
}
.outer {
  background-color: #ffff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
  margin-bottom:100px ;
}
.last {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
width: 470px;
}
 .foryou {
  position: relative;
  margin: auto;
  border-radius: 35px;
  box-shadow: 0px 1px 4px 0.1px;
  height: 300px;
  cursor: pointer;
  background-image: url("../assets/goden.png");
  background-size: 65vh;
  background-repeat: no-repeat;

}
.last i.fa-circle {
  color: green;
  position: absolute;
  top: 40%;
  left: 10px;
  font-size: 10px;
}
.foryou button {
  padding-left: 30px;
  background-color: #0000cb;
}

.end {
  display: flex;
  justify-content: space-around;
  width: 65%;
}

.discover {
  background-image: url("../assets/goden.png");
  background-size: 60vw;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 20px;
  border-radius: 35px;
  box-shadow: 0px 1px 4px 0.1px;
  height: 600px;
  cursor: pointer;
  width: 30vw;


}

.discover button {
  padding-left: 30px;
  background-color: #0000cb;
}
.discover i.fa-circle {
  position: absolute;
  top: 40%;
  left: 10px;
  font-size: 10px;
  color: orange;
}

.sportdesign {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
 #sports  {
  position: relative;
  background-color: #ffff;
  border-radius: 35px;
  box-shadow: 0px 1px 4px 0.1px;
  width: 220px;
  height: 250px;
  cursor: pointer;
  background-image: url("../assets/goden.png");
  background-size: 50vh;
  background-repeat: no-repeat;

}
#design  {
  position: relative;
  background-color: #ffff;
  border-radius: 35px;
  box-shadow: 0px 1px 4px 0.1px;
  width: 220px;
  height: 250px;
  cursor: pointer;
  background-image: url("../assets/goden.png");
  background-size: 40vw;
  background-repeat: no-repeat;

}

.sportdesign #design {
  
  width: 220px;
  height: 400px;
}

.title {
  position: absolute;
  bottom: 0;
left: 0;
box-sizing: border-box;
  width: 100%;
padding: 20px;
  font-size: 25px;
  font-weight: bold;
  color:#ffff;
  box-shadow: inset 0px 3px 10px -5px rgba(0, 0, 0, 0.3),
    0px 1px 4px 0.1px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 30px 30px;
}


@media (min-width: 1700px) {

.outer .first , .outer .end , .outer .short {
  width: 60vw;
}

}
@media (min-width: 1900px) {

  .outer .first , .outer .end , .outer .short {
    width: 55vw;
  }
  
  }