@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Egyptian+Hieroglyphs&family=Poppins:wght@400;700&display=swap");

.outer1 {
  color: white;
}

span {
  text-align: center;
  font-size: 20px;
  font-family: "Noto Sans Egyptian Hieroglyphs", sans-serif;
  margin-bottom: 10px;
  justify-content: center;
  margin: auto;
}

h1 {
  text-align: center;
  font-size: 50px;
}

.content {
  width: 100%;
  margin-top: 120px;
}
.inleiding {
  display: flex;
  text-align: right;
  font-size: 25px;
  margin: auto;
  margin-top: 200px;
}
.inleiding div {
  display: flex;
  margin: auto;
}
.inleiding p {
  width: 90vh;
}
.inleiding img {
  width: 50vh;
}
.timeline {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 270px;
}
.timeline img {
  height: 25vh;
  margin-top: 120px;
  margin-bottom: 120px;
}

.volger {
  position: absolute;
  right: 50px;
  margin-top: -50px;
  height: 25vh;
}

.content1 {
  width: 100vw;
  display: flex;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.volger2 {
  left: 50px;
  height: 30vh;
  width: 20vw;
}

.firstsection p {
  font-size: 20px;
  text-align: left;
  width: 40vw;
}
#denijl img {
  height: 80vh;
  border-radius: 200px;
}

#clouds {
  height: 50vh;
  display: flex;
  justify-content: center;
}
#clouds img {
  height: 80vh;
}

.firstsection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
h2 {
  display: flex;
  font-size: 40px;
  border-bottom: solid 3px;
  height: 50px;
  z-index: 1;
  
}
.secondsection {
}

.denijl1 {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.denijl1 p,
.denijl2 p {
  width: 30vw;
}

.secondsection #img {
  display: flex;
}
#textil {
  height: 45vh;
  padding: 10px;
  z-index: 1;
  border-radius: 200px;
}

.denijlPath {
  position: absolute;
  display: flex;
  width: 30%;
  z-index: 1;
}

.denijl2 {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}


.leftnijl {
    display: flex;
}
.leftnijl div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sketchfab-embed-wrapper {
  height: 80vw;
}

.outer1 {
  background-color: #f5f5f5;
}

.Egypt {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: auto;
  margin-bottom: 80px;
  width: 50vw;

}

.Egypte h2 {
  font-size: 20px;
  margin-bottom: 30px;
  text-align: CENTER;
}



.flag {
  width: 20vw;
  height: auto;
}

.country-container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  background-color: #6e41b8;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 100%;
}

.info-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}


.black-text {
  color: white;
}
@media (max-width: 768px) {
  h2 {
    font-size: 36px;
  }

  .flag {
    width: 50px;
  }

  p {
    font-size: 18px;
  }
}
